#content-wrapper {
    height: 960px;
}

#reticule {
    height: auto;
}

.reticule-item {
	height: 250px;
}

.reticule-item #nameReward {
	margin-top: 10%;
}

.disabled-reward {
  background-color: #A3A3A3 !important;
  opacity: 0.7;
  pointer-events: none;
}

#popup-wrapper::after {
    content:"";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.popupReward {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
    height: 250px;
	background: #FFFFFF;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: 18px;
}

.popupReward #codeNumber {
	font-size: 27px;
	font-weight: 700;
	margin: 20px 0 50px;
}

.popupReward button {
	width: 50%;
	border-radius: 0;
	padding: 15px 15px;
}

.popupReward button.rewCancel {
	background-color: transparent;
	border-color: transparent;
	font-weight: 700;
	color: #1E90FF;
	width: 50%;
}

.popupReward button.rewCancel:hover {
	background-color: #f7f7f7;
}

.popupRewardClose {
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}

.popupRewardClose img {
	width: 15px;
}
