* { margin: 0; padding: 0; border: 0; box-sizing: border-box; font-family: helvetica;}

.content:after, .content:before, .content:after, .content:before {content: ''; display: block; clear: both;}
.content {width: 100%; margin: 0 auto; max-width: 960px;}
.center {margin: 0 auto;}
.l {float: left;}
.col12 {width: 100%;}

header{display: flex; flex-direction: row;}
a#logo, nav {display: inline-block;}
nav ul {display: flex; flex-direction: row; margin-left: 50px; list-style-type: none;}
nav ul li {margin-right: 30px;}
header img {width: 44px;}
body{margin-top: 50px;}

h2 {padding: 20px 0;}

#ramdomTest {
  margin-top: 5%;
  text-align: center;
  padding: 2% 0;
  background-color: #99CCFF;
}
#rewards{
  display: flex;
  flex-direction: row;
}
.reward {
  width: 250px;
  height: 200px;
  background-color: whiteSmoke;
  margin-right: 5px;
  padding: 16px;
  cursor: pointer;
}

.disabled-reward {
  width: 250px;
  height: 200px;
  margin-right: 5px;
  background-color: lightblue;
  pointer-events: none;
  padding: 16px;
}

.popupReward {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 300px;
  height: 200px;
  background: #ccc;
  padding: 70px 24px;
  text-align: center;
}
.popupReward button {
  margin: 24px 5px 0 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.popupRewardClose{
  background: #333;
  color: white;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 3px;
  font-size: 11px;
  cursor: pointer;
}

footer {background-color: #d9d9d9; position: absolute; bottom: 0;}
footer div.content {padding: 2% 0;}
#copy {text-align: center;}
footer span {font-size: 12px;}
