* { margin: 0; padding: 0; border: 0; box-sizing: border-box; font-family: Helvetica, Arial, sans-serif;}

.content:after, .content:before, .content:after, .content:before {content: ''; display: block; clear: both;}
.content {width: 100%; margin: 0 auto; max-width: 960px;}
.center {margin: 0 auto;}
.l {float: left;}
.r {float: right;}

.col1 {width: 8.333%;}
.col2 {width: 16.666%;}
.col3 {width: 25%;}
.col4 {width: 33.333%;}
.col5 {width: 41.666%;}
.col6 {width: 50%;}
.col7 {width: 58.333%;}
.col8 {width: 66.666%;}
.col9 {width: 75%;}
.col10 {width: 83.333%;}
.col11 {width: 91.666%;}
.col12 {width: 100%;}
.wrapper{
    max-width: 80%;
    margin: 0 auto;
}
.card-container{
    height: 20vh;
    width: 30%;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 1.2em;
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 1%;
}
.card-container:hover{
    background-color: #e6e6e6;
}
.card-content{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

body{margin-top: 50px; font-family: 18px;}
header {
    background-color: #404040;
    position: fixed;
    top: 0;
    height: 50px;
    text-decoration: none;
    width: 100%;
    color: white;
}
header nav li{
	display: inline-block;
}

h2 {padding: 20px 0;}

footer {background-color: #404040; position: absolute; bottom: 0;}
footer div.content {padding: 1% 0; position:relative;}
#copy {text-align: center;}
footer span {font-size: 12px;}
