#currentInfo {
	display: flex;
	flex-direction: row;
}

#nextTestAsign-wrap{width: 75%;}

.reticule-item {
	height: 45vh;
}

.reticule-item img {
    width: 250px;
}

#progress{
	width: 25%;
}

#pFin, #pExp {
	font-weight: 700;
}

@media screen and (max-width: 1000px) {
	#currentInfo {
    	flex-direction: column;
    }
}
